<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      form > input,
      form > textarea {
        padding: 8px;
        font-size: 20px;
      }
      form > ul > li > * {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      ul > li {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      footer ul > li > a {
        border-bottom: 1px solid rgb(209, 209, 209);
      }
    </style>
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="contact.css" />
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous"
        />
  </head>
  <body>
    <nav class="h-[71px] bg-[#39A4AC] mb-6">
      <div class="logo">
        <a href="/"><img src="./assets/logo.png" alt="" /></a>
      </div>
      <div class="text">
        <ul>
          <li><a href="/programs">PROGRAMS</a></li>
          <li><a href="/companies">TOUR COMPANIES</a></li>
          <li><a href="/booking">BOOKING</a></li>
          <li><a href="<%=url%>"><%=loggedIn%></a></li>
          <% if(loggedIn){%>
            <li><a href="<%=dashurl%>">DASHBOARD</a></li>
        <%}%>
        </ul>
      </div>
    </nav>
    <div class="grid grid-flow-col gap-x-32 justify-center w-8/12 mx-auto">
      <div class="grid grid-flow-row">
        <p class="text-[#087880]">
          A Customer Service Agent is available to take your call.
        </p>
        <h3 class="text">Dolphin Cove Jamaica Phone Numbers</h3>
        <ul>
          <li>
            <span>
              <img
                src="https://www.dolphincoveja.com/Content/media/usa.jpg"
                alt=""
              />
              USA:
            </span>
          </li>
          <li>
            <span> 1-866-393-5158 </span>
          </li>

          <li>
            <span
              ><img
                src="https://www.dolphincoveja.com/Content/src/jamFlag.jpg"
                alt=""
              />
              Jamaica:
            </span>
            876-974-5335
          </li>
          <li>
            <span
              ><img
                src="https://www.dolphincoveja.com/Content/media/canadian.jpg"
              />
              Canada:
            </span>
            1-866-793-1905
          </li>
          <li>
            <span
              ><img
                src="https://www.dolphincoveja.com/Content/media/ukSites.jpg"
                alt=""
              />
              United Kingdom:
            </span>
            0-800-680-0420
          </li>
          <li>
            <span
              ><img
                src="https://www.dolphincoveja.com/Content/media/mexican.jpg"
                alt=""
              />
              Mexico:
            </span>
            01-800-727-5391
          </li>
          <li>
            <span
              ><img
                src="https://www.dolphincoveja.com/Content/media/dominican.jpg"
                alt=""
              />
              Dominican Republic:
            </span>
            1-888-751-9005
          </li>
        </ul>
      </div>
      <div>
        <p class="p-3 bg-[#0B5ED7] w-max text-white rounded-md mb-8">
          Chooose one of the following options
        </p>
        <div>
          <form action="" class="grid grid-rows-2 gap-10">
            <input type="text" placeholder="Name" class="border w-1/2" />
            <input type="text" placeholder="Phone" />
            <input type="email" placeholder="Email" />
            <select name="" id="" class="p-5 bg-white border">
              <option value="">Choose Location</option>
              <option value="">Dolphin Cove Ocho Rios</option>
              <option value="">Dolphin Cove Montego Bay</option>

              <option value="">Moon Palace Jamaica Grande</option>
            </select>
            <textarea
              name=""
              id=""
              cols="50"
              rows="7"
              placeholder="Message"
            ></textarea>
            <a href="">
              Please complete the form below to get your estimated quote. If you
              click to send, then acept that is well know the privacy policy for
              you
            </a>
            <button class="bg-[#619D4B] text-white p-4">SEND</button>
          </form>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-3 text-center justify-evenly items-center my-8">
      <p class="border-r">
        <span class="font-bold">Dolphin Cove Ocho Rios</span> <br />

        P.O. Box 21 Belmont Road Ocho Rios St. Ann Jamaica
      </p>
      <p class="border-r">
        <span class="font-bold"> Dolphin Cove Montego Bay</span> <br />

        Carr. A1, Jamaica
      </p>
      <p>
        <span class="font-bold"> Moon Palace Jamaica Grande</span>
        <br />

        Carr. Main St., Jamaica
      </p>
    </div>

    <iframe
      src="https://www.google.com/maps/d/embed?mid=1kCTTMOMDuh6wvFQMtM1L12KqApU&ehbc=2E312F"
      style="width: 100vw; height: 80vh"
    ></iframe>
    <footer class="grid grid-cols-2 bg-[#39A4AC] text-white p-5">
      <d n nn  n  ,l nkkiv class="w-[700px]">
        <ul>
          <li><a href="">Information</a></li>
          <li><a href="">News</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Investor Relations</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms and conditions</a></li>
        </ul>
      </div>
      <div>
        <p>CONTACT US</p>
        <p class="text-xl">1-877-344-3385</p>

        <ul>
          <li>Canada 1-866-793-1905</li>
          <li>United Kingdom 0-800-680-0420</li>
          <li>Mexico 01-800-727-5391</li>
          <li>Dominican Republic 1-888-751-9005</li>
          <li>United States 1-866-393-5158</li>
        </ul>

        <p class="underline">Contact Us</p>
        <p>PARTNERS:</p>
        <br />
        <div class="flex">
          <img
            src=" https://www.dolphincoveja.com/Content/src/dd-logo.png"
            alt=""
          />
          <img
            src="https://www.dolphincoveja.com/Content/src/dc-logo.png"
            alt=""
          />
        </div>
      </div>
    </footer>
  </body>
</html>
