<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="global.css" />
        <link rel="stylesheet" href="style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <section class="nav">
            <div class="logo">
                <img src="./assets/logo.png" alt="" />
            </div>
            <div class="text">
                <ul>
                    <li><a href="/programs">PROGRAMS</a></li>
                    <li><a href="/companies">TOUR COMPANIES</a></li>
                    <li><a href="/booking">BOOKING</a></li>
                    <li><a href="<%=url%>"><%=loggedIn%></a></li>
                </ul>
                <a href="/contact"><button><i class="fa-solid fa-phone"></i> 1-866-393-5158</button></a>
            </div>
        </section>
        <section class="sub-nav">
            <div class="list">
                <ul class="list2">
                    <li>PARKS</li>
                    <li>INFORMATION</li>
                    <li>NEWS</li>
                    <li>DEALS</li>
                </ul>
            </div>
        </section>
        <section class="thin">
            <div class="thin-banner">
                <h5>
                    Dolphin Cares: Integral Hygiene and safety protocols. Read
                    more!
                </h5>
            </div>
        </section>
        <section class="showcase">
            <div class="png">
                <img src="./assets/dolphincoveja-banner.png" alt="" />
            </div>
            <div>
                <video
                    autoplay
                    muted
                    loop
                    id="myVideo"
                    oncanplay="this.play()"
                    onloadedmetadata="this.muted= true"
                >
                    <source
                        src="./assets/pexels-zlatin-georgiev-5607991.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>
        </section>
        <section class="info">
            <div class="header">
                <h1>Welcome To Dolphin Cove</h1>
                <h6>
                    Part of the Dolphin Discovery Group, the largest dolphin
                    company in the world
                </h6>
            </div>
            <div class="passage">
                <h6>
                    Did you know that swimming with dolphins is considered one
                    of the top 10 bucket list items? When you come to Dolphin
                    Cove Jamaica you not only get a chance to live this dream;
                    you have the opportunity to knock off a few more, like ride
                    a camel and interact with stingrays. Here a place where you
                    come for the day but remember for a lifetime.
                </h6>
                <h6>
                    One of the many things that make Dolphin Cove Jamaica
                    special is that you can live the experience of swimming with
                    dolphins in the natural Caribbean Sea. Here you have the
                    opportunity to enjoy the company of different fish, rays,
                    and other forms of natural sea life. Dolphin Cove Jamaica is
                    the place to spend the day enjoying lots of fun activities.
                    There is truly something for everyone!
                </h6>
                <h6>
                    Dolphin Cove Jamaica is full of natural wonders and beauty
                    you gotta see for yourself! In Dolphin Cove Ocho Rios you’ll
                    enjoy strolling around in the Jungle Trail, where you will
                    notice many different wild animals, plants, and trees. At
                    Dolphin Cove Jamaica we respect the environment of all the
                    species, here you will live the most natural experience
                    you’ve ever had.
                </h6>
            </div>
        </section>
        <section>
            <div class="programs">
                <h1>DISCOVER OUR SWIM WITH DOLPHINS PROGRAMS</h1>
            </div>
            <div class="row">
                <div class="column">
                    <img
                        src="https://www.dolphincoveja.com/Content/src/program-1.jpg"
                        alt=""
                    />
                </div>
                <div class="column">
                    <img
                        src="https://www.dolphincoveja.com/Content/src/program-2.jpg"
                        alt=""
                    />
                </div>
                <div class="column">
                    <img
                        src="https://www.dolphincoveja.com/Content/src/program-3.jpg"
                        alt=""
                    />
                </div>
            </div>
            <div class="banner2">
                <img
                    src="https://www.dolphincoveja.com/Content/src/cards.png"
                    alt=""
                />
            </div>
        </section>
        <section class="">
            <div class="testimony-intro">
                <h1>
                    Take a look at our parks and discover all of our programs in
                    Dolphin Cove Jamaica!
                </h1>
            </div>
            <div class="testimony">
                <h6>
                    Dolphin Cove Jamaica is full of natural wonders and beauty
                    you gotta see for yourself! In Dolphin Cove Ocho Rios you’ll
                    enjoy strolling around in the Jungle Trail, where you will
                    notice many different wild animals, plants, and trees. At
                    Dolphin Cove Jamaica we respect the environment of all the
                    species, here you will live the most natural experience
                    you’ve ever had.
                </h6>
                <h6>
                    You may know it as Dolphin Cove Negril, but the now Dolphin
                    Cove Montego Bay is a magnificent property situated on 23
                    acres of ocean frontage (Sandy Bay, 40 min away from Montego
                    Bay aand 50 min from Negril), where you will have the
                    opportunity to interact and swim with dolphins, enjoying the
                    love of these amazing lovable marine mammals. Here you will
                    also feel the thrill of swimming with sharks and stingrays!
                    The Dolphin Cove Jamaica Entrance Fee is included with all
                    dolphin and shark interactive programs. Whether you are
                    achieving your dream of being a dolphin trainer at Dolphin
                    Ocho Rios Jamaica or swimming with dolphins at Dolphin Cove
                    Montego Bay you will have the Experience of a Lifetime!
                </h6>
            </div>
        </section>
        <section class="map-chart">
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/d/embed?mid=1kCTTMOMDuh6wvFQMtM1L12KqApU&ehbc=2E312F"
                    style="width: 100vw; height: 80vh"
                ></iframe>
                <h1>THE CARIBBEAN'S NUMBER 1 ATTRACTION</h1>
                <h6>
                    Dolphin Cove Jamaica has been named the Caribbean's Leading
                    Adventure Excursions Operator for two consecutive years by
                    the World Travel Awards. These awards are the foundation to
                    Dolphin Cove Jamaica's position as a world leader in
                    adventure excursions.
                </h6>
            </div>
            <div class="row2">
                <div class="column2">
                    <img src="./assets/world-travel-2011.png" alt="" />
                </div>
                <div class="column2">
                    <img src="./assets/world-travel-2012.png" alt="" />
                </div>
                <div class="column2">
                    <img src="./assets/world-travel-2013.png" alt="" />
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="section1">
                <div>Information</div>
                <div>News</div>
                <div>About Us</div>
                <div>Investor Relations</div>
                <div>Private Policy</div>
                <div>Terms and Conditions</div>
            </div>
            <div class="section2">
                <div>CONTACT US</div>
                <div class="number">1-877-344-3385</div>
                <div>Canada 1-866-793-1905</div>
                <div>United Kindom 0-800-680-0420</div>
                <div>Mexico 01-800-727-5391</div>
                <div>Dominican Republic 1-88-751-9005</div>
                <div>United States 1-866-393-5158</div>
                <div>Contact Us</div>
                <div>PARTNERS:</div>
                <span
                    ><img src="./assets/dd-logo.png" alt="" />
                    <img src="./assets/dc-logo.png" alt=""
                /></span>
            </div>
        </section>
    </body>
</html>
