<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="booking.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section class="nav">
      <div class="logo">
        <a href="/"><img src="./assets/logo.png" alt="" /></a>
      </div>
      <div class="text">
        <ul>
          <li><a href="/programs">PROGRAMS</a></li>
          <li><a href="">TOUR COMPANIES</a></li>
          <li><a href="">BOOKING</a></li>
        </ul>
        <a href="/contact"><button>1-866-393-5158</button></a>
      </div>
    </section>
    <section class="sub-nav">
      <div class="list">
        <ul class="list2">
          <li>PARKS</li>
          <li>INFORMATION</li>
          <li>NEWS</li>
          <li>DEALS</li>
        </ul>
      </div>
    </section>
    <section >
  <div class="container px-6 py-12 h-full">
    <div class="flex justify-between items-center flex-wrap h-full g-6 text-gray-800">
      <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
        <img class="object-cover w-full h-full"
          src="./assets/pexels-jeremy-bishop-2922672.jpg"
          class="w-full"
          alt=""
        />
      </div>
      <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
        <form>
          <!-- Email input -->
          <div class="mb-6">
            <input
              type="text"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              placeholder="Email address"
            />
          </div>

          <!-- Password input -->
          <div class="mb-6">
            <input
              type="password"
              class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              placeholder="Password"
            />
          </div>

          <div class="flex justify-between items-center mb-6">
            <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-[#FF8B00]  checked:border-black focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                id="exampleCheck3"
                checked
              />
              <label class="form-check-label inline-block text-gray-800" for="exampleCheck2"
                >Remember me</label
              >
            </div>
            <a
              href="#!"
              class="text-blue-600 hover:text-blue-700 focus:text-blue-700 active:text-blue-800 duration-200 transition ease-in-out"
              >Forgot password?</a
            >
          </div>

          <!-- Submit button -->
          <button
            type="submit"
            class="inline-block px-7 py-3 bg-[#39A4AC] text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-[#01B3B3] hover:shadow-lg focus:bg-[#01B3B3] focus:shadow-lg focus:outline-none focus:ring-0 active:bg-[#01B3B3] active:shadow-lg transition duration-150 ease-in-out w-full"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
          >
            Sign in
          </button>

          <div
            class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
          >
            <p class="text-center font-semibold mx-4 mb-0">OR</p>
          </div>

          <a
            class="px-7 py-3 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full flex justify-center items-center mb-3"
            style="background-color: #FF8B00"
            href="#!"
            role="button"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
          >
            <!-- Facebook -->
           Are you an Admin?
          </a>
       
        </form>
      </div>
    </div>
  </div>
</section>
    </section>
    <section class="footer">
      <div class="section1">
        <div>Information</div>
        <div>News</div>
        <div>About Us</div>
        <div>Investor Relations</div>
        <div>Private Policy</div>
        <div>Terms and Conditions</div>
      </div>
      <div class="section2">
        <div>CONTACT US</div>
        <div class="number">1-877-344-3385</div>
        <div>Canada 1-866-793-1905</div>
        <div>United Kindom 0-800-680-0420</div>
        <div>Mexico 01-800-727-5391</div>
        <div>Dominican Republic 1-88-751-9005</div>
        <div>United States 1-866-393-5158</div>
        <div>Contact Us</div>
        <div>PARTNERS:</div>
        <span
          ><img src="./assets/dd-logo.png" alt="" />
          <img src="./assets/dc-logo.png" alt=""
        /></span>
      </div>
    </section>
  </body>
</html>